@import url('https://fonts.googleapis.com/css2? family= Raleway:wght@100 & family= Shrikhand & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@400;500&family=Shrikhand&display=swap');
*
::before
::after {
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: "Roboto", sans-serif;
}
header {
     
    padding: 16px;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    text-align: center;
    font-family: Shrikhand,"cursive";
    margin: 0;
    font-size: 32px;
    position: relative;
    z-index: 1000;
}
.local {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 20px;
    text-align: center;
    padding: 20px 16px;
    background-color:#f3f3f3;
}

fas local-icon{
    font-size: 22px;
}
span.local-text{
    font: weight 700;
}
/*explorer*/
.explorer{
      text-align: center;
}
.explorer h2{
    margin-top: 32px;
    font-size: 24px;
}
.explorer p{
    font-size: 16px;
}
.explorer button{
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    border: 0;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    cursor: pointer;
    transition: tronsform 200ms;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    margin-top: 8px;
}
.explorer button:hover{
    transform: scale(1.02);
    opacity: 0.9;
}