
@use "../utils/mixins.scss";
@use "../utils/variables.scss";
@use "../utils/colors.scss";

.explorer {
  text-align: center;
  margin-bottom: 40px;
  & h2 {
    margin-top: 32px;
    font-size: 24px;
    width: 65%;
    display: flex;
    margin: auto;
    @media( min-width: variables.$breakpoint-mobile) {
      display: flex;
      justify-content: center;      
    }
  }
  & p {
    font-size: 16px;
    width: 80%;
    display: flex;
    margin: auto;
    padding: 18px 0;
    @media( min-width: variables.$breakpoint-mobile) {
      display: flex;
      justify-content: center;
    }
  }
  & button {
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    border: 0;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    cursor: pointer;
    transition: tronsform 200ms;
    margin-top: 8px;
    @include mixins.box-shadow;
  }
  & button:hover {
    transform: scale(1.02);
    opacity: 0.9;
  }
}

.loader {
  $animation-duration: 1s;
  $animation-count: 2;
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms $animation-duration * $animation-count forwards;
  transform-origin: top;
  cursor: wait;
  &::after {
      content: "";
      height: 100px;
      width: 100px;
      border-right: 5px solid transparent;
      border-top: 5px solid colors.$pink;
      border-radius: 50%;
      animation: spin $animation-duration ease-in-out;
      animation-iteration-count: 2;
  }
}

@keyframes disappear {
  to {
      transform: scale(0);
  }
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}