header {  
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    position: relative;
    z-index: 1000;
    padding: 21px 0;
    img {
        width: 160px;
        height: 54px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        }
    
}