@use "../utils/variables.scss";
@use "../utils/colors.scss";
@use "../utils/mixins.scss";

#homepage {
    .menus {
        background-color: #f6f6f6;
        padding-top: 1.5rem;
        padding-bottom: 3.5rem;
        h2 {
            margin: 20px 0px 20px 20px;
            align-items: center;
            flex-direction: column;
            display: flex;
        }
        &__all {
            background-color: #f6f6f6;
        }
        img {
            width: 100%;
            max-height: 325px;
            min-height: 200px;
            object-fit: cover;    
            max-width: 1400px;
            min-height: 245px;
        }
        &__cards {
            @media (min-width: 992px) {
                margin-left: 193px;
            }
            display: grid;
            gap: 1.3rem;
            margin-right: 20px;
            margin-left: 20px;
            @media only screen and ( min-width: variables.$breakpoint-tablette) and ( max-width: variables.$breakpoint-desktop ) {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                }
            @media( min-width: variables.$breakpoint-desktop) {
                display: grid;
                grid-template-columns: repeat(4,1fr);
                }
            .new {
                position: relative;
            }
            .new::before {
                content: "Nouveau";
                position: absolute;
                height: 2rem;
                width: 5rem;
                background-color: colors.$color-tertiary;
                display: grid;
                color: colors.$green-font;
                place-items: center;
                right: 1rem;
                top: 1rem;
                font-weight: 500;
            }
        }
        .card {
            &__image {
                    height: 12rem;
                    width: 100%;
                    border: 0 solid transparent;
                    border-radius: 1rem 1rem 0 0;
                    box-shadow: none;
                    object-fit: cover;
                }
            &__description {
                @include mixins.heart-animated;
                background-color: white;
                border-radius: 0 0 1.5rem 1.5rem;
                h3 {
                    padding-top: 0.8rem;
                    padding-left: 1rem;
                    font-weight: 700;
                }
                p {
                    padding: 0.4rem 0 1rem 0;
                    padding-left: 1rem;
                }
            }
        }
    }   
}

@media (min-width: 992px) {
    #homepage .menus h2 {
        display: inline-block;
        margin: 0 0 28px 193px;
    }
}

#page-resto {
    h3 {
        font-weight: 400;
        position: relative;
        text-transform: uppercase;
        margin: 20px 0 15px 12px;
    }
    h3::after {
        content: "";
        width: 3rem;
        height: 0.25rem;
        background-color: #99e2d0;
        position: absolute;
        bottom: -7px;
        left: 0;
    }   
}